.property-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.property-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.property-card {
    flex-basis: calc(25% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: box-shadow 0.3s ease;
}

.property-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.property-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.property-card p {
    margin-bottom: 5px;
}

.property-card button {
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.property-card button:hover {
    background-color: #0056b3;
}

.search-bar {
    margin-bottom: 20px;
    margin-top: 10px;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.search-bar input[type="text"]:focus {
    border-color: #007bff;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin-right: 5px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h2 {
    margin-right: 10px;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.login-button,
.register-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.login-button:hover,
.register-button:hover {
    background-color: #0056b3;
}

.button-divider {
    margin: 0 5px;
}




.pagination li a {
    display: block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination li a:hover {
    background-color: #0056b3;
}

@media (max-width: 992px) {
    .property-card {
        flex-basis: calc(33.333% - 20px);
    }
}

@media (max-width: 768px) {
    .property-card {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .property-card {
        flex-basis: calc(100% - 20px);
    }
}